* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(grid_noise.png);
}

.container {
  width: 50%;
  margin: 100px auto 0;
  text-align: justify;
}

h1 {
  color: #006400;
}
h2 {
  color: #556b2f;
  margin-bottom: 20px;
}
p span {
  font-size: 20px;
}

.link {
  text-align: center;
}
a {
  font-size: 12px;
}
